BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
NamespaceIndentation: None
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
SortIncludes: Never
BreakStringLiterals: false
ReflowComments: Never
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments:
    Kind: Never
PointerAlignment: Right
